DATABASE_URL="postgres://db_user:db_password@postgres:5432/nest?schema=public"

CORS_ORIGIN=http://localhost:5173

JWT_SECRET_REFRESH=your_jwt_secret
JWT_SECRET_ACCESS=your_jwt_secret

POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_DB=nest

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_SECRET_ID=your_google_client_secret
